{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Change User Password {% endblock %}

{% block body_block %} 
    <h2>User Password Change</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{% if message.tags %} {{ message.tags }} {% endif %}"> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
    </form>
{% endblock %}

